* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}
html {
  height: 100%;
}
.container {
  width: 100%;
  min-height: 130vh;
  background-image: url("/static/images/green-pine-trees-covered-with-fog.jpg");
  background-size: cover;
  background-position: center;
  opacity: 100%;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between; /* Rozdziela logo i linki */
  align-items: center; /* Wyrównuje elementy w pionie */
  padding: 10px 20px; /* Odstępy */
  background-color: black;
  height: 12vh;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.nav-links li {
  list-style: none;
  margin: 5px 12px;
}

.nav-links li a {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 5px;
  transition: color 0.3s ease;
  align-items: center;
}

.nav-links li a::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: brown;
  transition: all 0.5s;
}

.nav-links li a:hover:before {
  width: 100%;
}

.nav-links li a:hover {
  color: green;
}

.hamburger_menu {
  top: 0;
  left: 0;
  position: fixed;
  height: 80%;
  width: 100vw;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  background-color: black;
  display: none;
  padding: 10px 10px;
}
.hamburger_menu li {
  list-style: none;
  padding: 10px 10px;
  margin: 20px 20px;
}
.hamburger_menu li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  transition: color 0.3s;
  align-items: center;
  position: relative;
}
.hamburger_menu li a::before {
  content: "";
  position: absolute;
  bottom: -10px;
  height: 3px;
  background-color: brown;
  width: 0%;
  transition: all 0.5s;
}
.hamburger_menu li a:hover::before {
  width: 100%;
}
.hamburger_menu li a:hover {
  color: green;
}
.hamburger_menu.visible {
  display: flex;
}

.hero_index {
  font-size: 25px;
  height: 70vh; /* Wysokość na pełny ekran */
  display: flex;
  align-items: center; /* Wyrównanie zawartości w pionie */
  justify-content: center;
  flex-direction: column;
  color: rgb(110, 53, 19);
}
.hero {
  font-size: 25px;
  height: 70vh; /* Wysokość na pełny ekran */
  display: flex;
  align-items: center; /* Wyrównanie zawartości w pionie */
  flex-direction: column;
  padding-top: 0%;
}

.natura_highlight {
  text-transform: uppercase;
  background: linear-gradient(to right, #449e41, #076e04, #25a820, #076e04);
  background-size: 200%;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: zmienKolor 5s linear infinite;
}

.h2-main {
  padding-bottom: 2%;
}

.h1-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 2%;
  color: rgb(110, 53, 19);
  font-size: 27px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.form-row {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
label {
  font-size: 16px;
  font-weight: 600;
  width: 100%; /* Minimalna szerokość etykiety */
  color: black;
}

input {
  width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: left;
}

.join-button {
  width: 150px;
  height: 50px;
  background: green;
  outline: none;
  font-size: 15px;
  font-weight: 600;
  position: relative;
  border-radius: 6px;
  color: #fff;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 5px rgb(0, 0, 0);
  overflow: hidden; /* Zapobiega wychodzeniu pseudoelementu poza przycisk */
  z-index: 0; /* Pozycjonowanie przycisku nad pseudoelementem */
}

.join-button a {
  text-decoration: none;
  color: #f0efeb;
  position: relative;
  z-index: 2; /* Utrzymanie linku nad pseudoelementem */
}

.join-button::before {
  background-color: #4b3b07;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  transform: scaleX(
    0
  ); /* Początkowo pseudoelement jest skalowany na 0 w osi X */
  transform-origin: left; /* Skalowanie rozpoczyna się od lewej krawędzi */
  transition: transform 0.4s ease-in-out; /* Płynna animacja */
}

.join-button:hover::before,
.join-button:focus::before {
  transform: scaleX(1);
}

.join-button:hover {
  color: lightgreen;
}
.submit-button {
  width: 150px;
  height: 50px;
  font-weight: 600;
  background-color: green;
  color: white;
  border-radius: 6px;
  outline: none;
  position: relative;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 5px rgb(0, 0, 0);
  align-self: center;
  overflow: hidden;
}

.submit-button span {
  position: relative;
  z-index: 2; /* Utrzymanie tekstu nad animacją */
}
.submit-button a {
  text-decoration: none;
  color: white;
  position: relative;
  z-index: 2; /* Utrzymanie linku nad pseudoelementem */
}

.submit-button::before {
  background-color: brown;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  transform: scaleX(
    0
  ); /* Początkowo pseudoelement jest skalowany na 0 w osi X */
  transform-origin: left; /* Skalowanie rozpoczyna się od lewej krawędzi */
  transition: transform 0.4s ease-in-out; /* Płynna animacja */
}

.submit-button:hover::before,
.submit-button:focus::before {
  transform: scaleX(1);
}

.submit-button:hover {
  color: white;
}

.table_users {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  color: rgb(0, 0, 0);
}
table {
  width: 100%;
  border-collapse: collapse; /* Zapobiega podwójnym granicom między komórkami */
  margin-bottom: 20px;
}

th,
td {
  padding: 12px 20px; /* Większe odstępy w poziomie i pionie */
  text-align: left; /* Wyrównanie tekstu do lewej */
  border: 1px solid #ddd; /* Delikatna ramka wokół komórek */
}

th {
  background-color: #ffffff; /* Kolor tła nagłówków */
  font-weight: bold;
}
tr {
  background-color: #f0eeee;
}

.error-style {
  color: red;
  font-size: 30px;
  font-weight: 600;
  background-color: #fff7de;
  margin-top: 10px;
}
.footer_style {
  background-color: black;
  width: 100%;
  height: 50px;
  margin-top: auto;
  opacity: 1;
  z-index: 1;
  display: flex; /* Ustawia flexbox dla całej stopki */
  align-items: center; /* Centruje zawartość w pionie */
  justify-content: center; /* Centruje zawartość w poziomie */
}

.footer_item {
  color: white;
  z-index: 2;
  display: inline-block;
  margin: 50px;
}
.footer_item a {
  color: white;
  text-decoration: none;
}
.footer_item a:hover {
  color: green;
}
/* Animacje */
@keyframes zmienKolor {
  to {
    background-position: 200%;
  }
}

/* Responsywność */
@media (max-width: 768px) {
  .hero_index {
    font-size: 20px;
    text-align: center;
    align-items: center;
  }
  .hero {
    font-size: 20px;
    text-align: center;
    align-items: center;
  }
  .h1-form {
    font-size: 20px;
  }
  .container {
    height: 100vh;
  }
  .hero button {
    width: 120px;
    height: 40px;
  }
  .hamburger_menu {
    display: none;
  }
  .hamburger_menu.active {
    display: flex;
  }
  .nav-links li {
    display: none;
  }
  .nav-links li:last-child {
    display: flex;
  }
}
@media (min-width: 769px) {
  .nav-links li:last-child {
    display: none;
  }
  .hamburger_menu.is-active {
    display: none;
  }
}
