* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}
html {
  height: 100%;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  min-height: 130vh;
  background-image: url("/static/images/green-pine-trees-covered-with-fog.jpg");
  background-size: cover;
  background-position: center;
  opacity: 100%;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: black;
  height: 12vh;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.nav-links li {
  list-style: none;
  margin: 5px 12px;
}

.nav-links li a {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 5px;
  transition: color 0.3s ease;
  align-items: center;
}

.nav-links li a::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: brown;
  transition: all 0.5s;
}

.nav-links li a:hover:before {
  width: 100%;
}

.nav-links li a:hover {
  color: green;
}

.hamburger_menu {
  top: 0;
  left: 0;
  position: fixed;
  height: 80%;
  width: 100vw;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  background-color: black;
  display: none;
  padding: 10px 10px;
}
.hamburger_menu li {
  list-style: none;
  padding: 10px 10px;
  margin: 20px 20px;
}
.hamburger_menu li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  transition: color 0.3s;
  align-items: center;
  position: relative;
}
.hamburger_menu li a::before {
  content: "";
  position: absolute;
  bottom: -10px;
  height: 3px;
  background-color: brown;
  width: 0%;
  transition: all 0.5s;
}
.hamburger_menu li a:hover::before {
  width: 100%;
}
.hamburger_menu li a:hover {
  color: green;
}
.hamburger_menu.visible {
  display: flex;
}

.hero_index {
  font-size: 25px;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(110, 53, 19);
}
.hero {
  font-size: 25px;
  height: 70vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 0%;
}
.slider-wrapper {
  position: relative;
  max-width: 70rem;
  margin: 0 auto;
  margin-top: 5vh;
  border: 30px solid #000;
  border-radius: 30px;
  overflow: hidden;
}
.slider {
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
  scrollbar-width: none;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}
.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}
.slider-nav a:hover {
  opacity: 1;
}

.natura_highlight {
  text-transform: uppercase;
  background: linear-gradient(to right, #449e41, #076e04, #25a820, #076e04);
  background-size: 200%;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: zmienKolor 5s linear infinite;
}

.h2-main {
  padding-bottom: 2%;
}

.h1-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 2%;
  color: rgb(110, 53, 19);
  font-size: 27px;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.form-row {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.form-row:last-child {
  margin-bottom: 0;
}
label {
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  color: black;
}

input {
  width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: left;
}

.join-button {
  width: 150px;
  height: 50px;
  background: green;
  outline: none;
  font-size: 15px;
  font-weight: 600;
  position: relative;
  border-radius: 6px;
  color: #fff;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 5px rgb(0, 0, 0);
  overflow: hidden;
  z-index: 0;
}

.join-button a {
  text-decoration: none;
  color: #f0efeb;
  position: relative;
  z-index: 2;
}

.join-button::before {
  background-color: #4b3b07;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-in-out;
}

.join-button:hover::before,
.join-button:focus::before {
  transform: scaleX(1);
}

.join-button:hover {
  color: lightgreen;
}
.submit-button {
  margin-top: 20px;
  width: 150px;
  height: 50px;
  font-weight: 600;
  background-color: green;
  color: white;
  border-radius: 6px;
  outline: none;
  position: relative;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 5px rgb(0, 0, 0);
  align-self: center;
  overflow: hidden;
}

.submit-button span {
  position: relative;
  z-index: 2;
}
.submit-button a {
  text-decoration: none;
  color: white;
  position: relative;
  z-index: 2;
}

.submit-button::before {
  background-color: brown;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-in-out;
}

.submit-button:hover::before,
.submit-button:focus::before {
  transform: scaleX(1);
}

.submit-button:hover {
  color: white;
}

.table_users {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  color: rgb(0, 0, 0);
}
.table_users tbody {
  display: block;
  max-height: 400px;
  overflow-y: auto;
  width: 100%;
}
table {
  width: 100%;
  font-size: 20px;
  border-collapse: collapse;
  min-width: 400px;
}
.users_admin {
  max-height: 80vh;
  overflow-y: auto;
  border: 1px solid #ddd;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.table_button {
  width: 15vh;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

th,
td {
  padding: 12px 20px;
  text-align: left;
  border: 1px solid #ddd;
  overflow-wrap: anywhere;
  max-width: 200px;
}

th {
  background-color: #ffffff;
  font-weight: bold;
  min-width: 100%;
  text-align: center;
}
tr {
  background-color: #f0eeee;
}
th:first-child,
td:first-child {
  width: 20%;
  min-width: 50px;
}
.users_admin table td.seperate_td {
  text-align: center;
  width: 100%;
  font-size: 16px;
  padding: 10px;
  background-color: #f9f9f9;
  color: #333;
  white-space: normal;
  display: table-cell;
}
.table_users table td.seperate_td {
  text-align: center;
  justify-content: center;
}

.error-style {
  color: red;
  font-size: 30px;
  font-weight: 600;
  background-color: #fff7de;
  margin-top: 10px;
}
.footer_style {
  background-color: black;
  width: 100%;
  height: 50px;
  margin-top: auto;
  opacity: 1;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_item {
  color: white;
  z-index: 2;
  display: inline-block;
  margin: 50px;
}
.footer_item a {
  color: white;
  text-decoration: none;
}
.footer_item a:hover {
  color: green;
}
/* Animacje */
@keyframes zmienKolor {
  to {
    background-position: 200%;
  }
}

/* Responsywność */
@media (max-width: 1500px) {
  .h1-form {
    text-align: center;
    align-items: center;
  }
  .slider-wrapper {
    border: 20px solid #000;
    max-width: 90%;
  }
}

@media (max-width: 1080px) {
  .h1-form {
    text-align: center;
    align-items: center;
  }
  .footer_item {
    margin: 10px;
    font-size: 11px;
  }
  .nav-links li {
    display: none;
  }
  .nav-links li:last-child {
    display: flex;
  }
  .slider-wrapper {
    border: 20px solid #000;
    max-width: 90%;
  }

  .slider {
    aspect-ratio: 4/3;
  }
}
@media (max-width: 768px) {
  .hero_index {
    font-size: 20px;
    text-align: center;
    align-items: center;
  }
  .hero {
    font-size: 20px;
    text-align: center;
    align-items: center;
  }
  .h1-form {
    font-size: 20px;
  }
  .container {
    height: 100vh;
  }
  .slider-wrapper {
    border: 20px solid #000;
    max-width: 90%;
  }

  .slider {
    aspect-ratio: 4/3;
  }
  .hero button {
    width: 120px;
    height: 40px;
  }

  .footer_item {
    margin: 10px;
    font-size: 11px;
  }

  .users_admin table th {
    font-size: 12px;
  }

  .users_admin table td:last-child {
    flex-direction: column;
    gap: 5px;
  }

  .table_button {
    max-height: 20px;
    max-width: 50px;
    font-size: 12px;
  }
}
@media (min-width: 1081px) {
  .nav-links li:last-child {
    display: none;
  }
}
