<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    />
  </head>
  <body>
    <script src="/static/app.js"></script>
    <div class="container">
      <!--Navbar-->
      <nav>
        <div class="navbar">
          <ul class="hamburger_menu">
            <li>
              <a href=""
                ><span class="material-symbols-outlined"> close </span></a
              >
            </li>
            <li><a href="/index">Menu główne</a></li>
            <li><a href="/formularz">Rejestracja</a></li>
            <li><a href="/panel">Użytkownicy</a></li>
            <li><a href="/admin">Panel administratora</a></li>
            <li><a href="/galeria">Galeria</a></li>
          </ul>
          <ul class="nav-links">
            <li><a href="/index">Menu główne</a></li>
            <li><a href="/formularz">Rejestracja</a></li>
            <li><a href="/panel">Użytkownicy</a></li>
            <li><a href="/admin">Panel administratora</a></li>
            <li><a href="/galeria">Galeria</a></li>
            <li class="hamburger_logo" onClick="pokazMenu()">
              <a href="#logo"
                ><span class="material-symbols-outlined"> menu </span></a
              >
            </li>
          </ul>
        </div>
      </nav>
      <!--Hero section-->
      <div class="hero">
        <div class="h1-form"><h1>Rejestracja Użytkownika</h1></div>

        <form action="http://localhost:5500/users" method="POST">
          <div class="form-row">
            <label for="name">Nazwa użytkownika:</label>
            <input
              type="text"
              id="name"
              name="name"
              required
              minlength="2"
              maxlength="80"
            />
          </div>

          <div class="form-row">
            <label for="email">Email:</label>
            <input
              type="email"
              id="email"
              name="email"
              required
              minlength="6"
            />
          </div>

          <div class="form-row">
            <label for="password">Hasło:</label>
            <input type="password" id="password" name="password" required />
          </div>

          <div class="form-row">
            <label for="confirm_password">Potwierdź hasło:</label>
            <input
              type="password"
              id="confirm_password"
              name="confirm_password"
              required
            />
          </div>
          <button class="submit-button" type="submit">
            <span>Dodaj użytkownika</span>
          </button>
        </form>
        {% if error %}
        <div class="error-style"><p>{{ error }}</p></div>

        {% endif %}
      </div>

      <footer class="footer_style">
        <div class="footer_item">
          <p>Wszelkie prawa zastrzeżone &copy; 2024</p>
        </div>
        <div class="footer_item">
          <a href="https://validator.w3.org/#validate_by_upload"
            >Walidator HTML</a
          >
        </div>
        <div class="footer_item">
          <a href="https://jigsaw.w3.org/css-validator/">Walidator CSS</a>
        </div>
      </footer>
    </div>
  </body>
</html>
